body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App__heading {
  text-align: center;
}

.App__filter {
  display: flex;
  justify-content: center;
}

.notes {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem auto;
}
.note {
  color: grey;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 638px) {
  .note {
    flex-direction: row;
  }
  .container {
    width: 90%;
    max-width: 720px;
  }
}

.note__text {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}
.note__button {
  cursor: pointer;
}
.form {
  margin-top: 1rem;
  display: flex;
}
.form__input {
  flex: 2;
  outline: none;
  padding: 0.3rem;
}

.form button {
  border: none;
  padding: 0.4rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0.8rem;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.loader {
  text-align: center;
  font-size: 1.2rem;
}
